configs:
  params:
    server.insecure: true
  cm:
    url: https://$HOST_NAME
    dex.config: |
      connectors:
        # GitHub example
        - type: github
          id: github
          name: GitHub
          config:
            clientID: 7d1f1fedf59d92a14690
            clientSecret: b92bb8af06dc7937527640c37fd350ddbc9a0667
            orgs:
            - name: thesis-openstack
  rbac:
    policy.csv: |
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, *, *, allow
      p, role:org-admin, logs, get, *, allow
      p, role:org-admin, exec, create, */*, allow
      g, thesis-openstack:Admins, role:org-admin